.aboutUs {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 68px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.home,
.ourServices,
.titleSegments {
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.home {
  text-decoration: none;
  color: inherit;
  min-width: 53px;
}
.ourServices,
.titleSegments {
  min-width: 8px;
}
.ourServices {
  min-width: 117px;
}
.breadcrumbSeparator,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.breadcrumbSeparator {
  flex-direction: column;
  padding: var(--padding-65xl) 0 0;
  margin-left: -280px;
  text-align: center;
  font-size: var(--title-title-size);
  font-family: var(--title-title);
}
.graphicIcon {
  height: 395.9px;
  width: 1972.8px;
  position: absolute;
  margin: 0 !important;
  top: -84.5px;
  left: -44.7px;
  z-index: 1;
}
.breadcrumb {
  flex: 1;
  background-color: var(--color-main-surface);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) var(--padding-754xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-heading-02-size);
  color: var(--color-main-on-surface);
  font-family: var(--heading-heading-01);
}
@media screen and (max-width: 1200px) {
  .breadcrumb {
    padding-left: var(--padding-367xl);
    padding-right: var(--padding-367xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .aboutUs {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
}
@media screen and (max-width: 750px) {
  .breadcrumb {
    padding-left: var(--padding-174xl);
    padding-right: var(--padding-174xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs {
    font-size: var(--font-size-15xl);
    line-height: 41px;
  }
  .breadcrumb {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
