.graphicIcon {
  height: 153.4px;
  width: 154.1px;
  position: absolute;
  margin: 0 !important;
  right: 476.3px;
  bottom: -78px;
  object-fit: contain;
}
.heading {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 600;
}
.transformedOurBrand {
  color: var(--color-main-surface);
}
.protagonistaTransformedOurContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 68px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.henryLee {
  position: relative;
  line-height: 32px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 119px;
}
.digitalMarketingManager {
  position: relative;
  font-size: var(--caption-caption-01-size);
  line-height: 22px;
  font-family: var(--title-title);
  color: var(--color-main-placehover);
}
.author,
.quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.author {
  gap: var(--gap-5xs);
  font-size: var(--heading-heading-05-size);
  color: var(--color-main-surface);
}
.quote {
  width: 850px;
  gap: var(--gap-13xl);
}
.caretrightIcon,
.imgIcon,
.imgIcon1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.imgIcon {
  width: 84px;
  height: 84px;
  border-radius: var(--br-165xl);
  object-fit: cover;
}
.caretrightIcon,
.imgIcon1 {
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.imgIcon1 {
  height: 84px;
  width: 84px;
  border-radius: var(--br-165xl);
  object-fit: cover;
}
.caretrightParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.testimonialImages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-21xl);
}
.testimonialDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--heading-heading-02-size);
  color: var(--primary-orange);
  font-family: var(--heading-heading-01);
}
.testimonial,
.testimonial1,
.testimonialContent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.testimonial1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.testimonial,
.testimonialContent {
  flex-direction: row;
}
.testimonialContent {
  width: 1290px;
  justify-content: flex-start;
  position: relative;
}
.testimonial {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--title-title-size);
  color: var(--color-main-placehover);
  font-family: var(--title-title);
}
@media screen and (max-width: 1300px) {
  .testimonialDetails {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .protagonistaTransformedOurContainer {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
}
@media screen and (max-width: 450px) {
  .protagonistaTransformedOurContainer {
    font-size: var(--font-size-15xl);
    line-height: 41px;
  }
  .henryLee {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .quote {
    gap: var(--gap-base);
  }
}
