@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --title-title: "Plus Jakarta Sans";
  --heading-heading-01: "DM Sans";
  --button-normal: Figtree;

  /* font sizes */
  --title-title-size: 18px;
  --caption-label-size: 12px;
  --heading-heading-01-size: 80px;
  --font-size-21xl: 40px;
  --heading-heading-05-size: 24px;
  --heading-heading-04-size: 32px;
  --caption-caption-01-size: 14px;
  --button-normal-size: 16px;
  --heading-heading-03-size: 44px;
  --font-size-7xl: 26px;
  --font-size-16xl: 35px;
  --font-size-lgi: 19px;
  --heading-heading-02-size: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --heading-heading-06-size: 20px;
  --font-size-101xl: 120px;
  --font-size-11xl: 30px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-main-white: #fff;
  --color-main-secondary: #5a5c5e;
  --color-main-outline: #e4e4e4;
  --color-gainsboro-100: rgba(217, 217, 217, 0.18);
  --on-surface: #1b2121;
  --color-main-on-surface: #121518;
  --color-gray-100: rgba(255, 255, 255, 0.05);
  --color-gray-200: rgba(255, 255, 255, 0.1);
  --color-main-placehover: #abb0b4;
  --color-main-surface: #f9f8f4;
  --color-whitesmoke-100: #f9f8f3;
  --primary-purple: #5c29dd;
  --primary-orange: #f37935;
  --color-floralwhite-100: #faf8ec;

  /* Gaps */
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-21xl: 40px;
  --gap-61xl: 80px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-7xs: 6px;
  --gap-mini: 15px;
  --gap-8xs: 5px;
  --gap-81xl: 100px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-33xl: 52px;
  --gap-9xs: 4px;
  --gap-107xl: 126px;
  --gap-12xl: 31px;
  --gap-44xl: 63px;
  --gap-9xl: 28px;
  --gap-233xl: 252px;
  --gap-3xs: 10px;
  --gap-7xl-3: 26.3px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-xs-5: 11.5px;
  --gap-53xl: 72px;
  --gap-3xl: 22px;
  --gap-75xl: 94px;
  --gap-4xl: 23px;
  --gap-28xl: 47px;
  --gap-212xl: 231px;
  --gap-39xl: 58px;
  --gap-96xl: 115px;
  --gap-192xl: 211px;
  --gap-34xl: 53px;
  --gap-86xl: 105px;
  --gap-25xl: 44px;
  --gap-95xl: 114px;
  --gap-38xl: 57px;
  --gap-192xl-3: 211.3px;
  --gap-87xl: 106px;
  --gap-923xl-7: 942.7px;
  --gap-99xl: 118px;
  --gap-217xl: 236px;
  --gap-452xl: 471px;
  --gap-0: 0px;
  --gap-7xl: 26px;
  --gap-77xl-3: 96.3px;
  --gap-29xl: 48px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-4xl: 23px;
  --padding-41xl: 60px;
  --padding-xl: 20px;
  --padding-20xl: 39px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-smi: 13px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-mini: 15px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-169xl: 188px;
  --padding-103xl: 122px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-9xl: 28px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-base: 16px;
  --padding-296xl: 315px;
  --padding-138xl: 157px;
  --padding-13xl: 32px;
  --padding-65xl: 84px;
  --padding-36xl: 55px;
  --padding-35xl: 54px;
  --padding-12xl: 31px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-107xl: 126px;
  --padding-151xl: 170px;
  --padding-63xl: 82px;
  --padding-91xl: 110px;
  --padding-30xl: 49px;
  --padding-21xl: 40px;
  --padding-13xl-5: 32.5px;
  --padding-23xl: 42px;
  --padding-59xl: 78px;
  --padding-14xl: 33px;
  --padding-114xl: 133px;
  --padding-186xl: 205px;
  --padding-100xl-9: 119.9px;
  --padding-12xs-3: 0.3px;
  --padding-18xl-5: 37.5px;
  --padding-105xl: 124px;
  --padding-77xl-3: 96.3px;
  --padding-22xl: 41px;
  --padding-44xl: 63px;
  --padding-17xl-5: 36.5px;
  --padding-16xl: 35px;
  --padding-17xl-6: 36.6px;
  --padding-26xl: 45px;
  --padding-7xs: 6px;
  --padding-17xl: 36px;
  --padding-8xl: 27px;
  --padding-19xl: 38px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-sm: 14px;
  --padding-149xl: 168px;
  --padding-52xl: 71px;
  --padding-90xl: 109px;
  --padding-mid: 17px;
  --padding-56xl: 75px;
  --padding-95xl: 114px;
  --padding-29xl: 48px;
  --padding-55xl: 74px;
  --padding-7xl: 26px;
  --padding-10xl-2: 29.2px;
  --padding-42xl: 61px;
  --padding-9xl-1: 28.1px;
  --padding-10xl-4: 29.4px;
  --padding-9xl-4: 28.4px;
  --padding-2xs: 11px;
  --padding-9xl-5: 28.5px;
  --padding-858xl-7: 877.7px;
  --padding-352xl: 371px;
  --padding-552xl: 571px;
  --padding-101xl: 120px;
  --padding-754xl: 773px;
  --padding-367xl: 386px;
  --padding-174xl: 193px;
  --padding-191xl: 210px;
  --padding-402xl: 421px;
  --padding-242xl: 261px;
  --padding-815xl: 834px;
  --padding-189xl: 208px;
  --padding-398xl: 417px;
  --padding-388xl: 407px;
  --padding-184xl: 203px;
  --padding-4xs: 9px;
  --padding-384xl: 403px;
  --padding-182xl: 201px;
  --padding-178xl: 197px;
  --padding-127xl: 146px;
  --padding-163xl: 182px;
  --padding-362xl: 381px;
  --padding-171xl: 190px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-5xs: 8px;
  --br-981xl: 1000px;
  --br-61xl: 80px;
  --br-29xl: 48px;
  --br-80xl: 99px;
  --br-165xl: 184px;
  --br-xs: 12px;
  --br-41xl: 60px;
  --br-3xs: 10px;
  --br-11xs: 2px;

  /* Effects */
  --drop-shadow: 0px 10px 25px rgba(54, 95, 104, 0.1);
}